*.png
*.pyc
*.txt
*.nc
*.h5
*.pdf
*.tar
*.zip
*.gz
*.vim
*BCKP*
*bckp*

mcs/ascii
mcs/plots
mcs/src/plots
mcs/src/ascii

sheaths/plots
sheaths/ascii

icmes/plots
icmes/ascii

sheaths.icmes/plots
sheaths.icmes/ascii

mixed/src/plots
mixed/figs
mixed/plots



